    <header style="flex-direction: column;" class="display-flex justify-space-between align-center p-2">
    <h1 style="text-decoration: underline;" id="home">
        <a href="/home">Home</a>
       </h1>
    
  
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <button class="no-button" id="logout">logout</button>
        {{else}}
       <a id="login"  href="/login">Login</a>
        {{/if}}
   
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
 <div class="row mt-4"></div>
<div class="col-md-6">
    <button id="create" onclick="window.location.href='/api/dashboard/newpost';">Create a New Post +</button>
  </div>
   {{#if dashboards.length}}
  <div class="col-md-6 project-list">
    <h2>Current Dashboards:</h2>
 {{#each dashboards as |dashboard|}}
    <div id='blog'  class="row mb-2">
      <div style="background-color: rgb(146, 146, 178);">
        <h2><a href="/dashboard/post/{{dashboard.id}}">{{dashboard.name}}</a></h2>
      </div>
       <p id="desc">
      {{dashboard.description}}
    </p>
      <div id='post' class="col-md-4">
       <h4 ><a  href="/dashboard/{{dashboard.id}}">Editpost</a></h4>
      </div>
    </div>
    {{/each}}
  </div>
  
   
  {{/if}}
    {{#if logged_in}}

  {{/if}}
</div>
 <script src="/js/logout.js"></script>
<script src='/js/dashclick.js'></script>

